@using MVCTest.Models




<legend>Add new product</legend>
<div><a asp-area="" asp-controller="Home" asp-action="CreateAuthor"><button class="btn btn-primary" style="width:30%">New Author</button></a>
</div>
<br>
<div><a asp-area="" asp-controller="Home" asp-action="Create"><button class="btn btn-primary" style="width:30%" >New Book</button></a>
</div>
